@import "tailwindcss";

@theme {
  --background-image-header: url('/bg.jpg');
  --animate-blink: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}